@model CheckoutInfoInput
@{
    ViewData["Title"] = "Checkout";
}

<form asp-controller="Order" asp-action="Checkout" method="post">
    <div class="row">

        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Adres Bilgileri</h5>

                    <div class="mb-3">
                        <label asp-for="Province" class="form-label"></label>
                        <input asp-for="Province" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="District" class="form-label"></label>
                        <input asp-for="District" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Street" class="form-label"></label>
                        <input asp-for="Street" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Line" class="form-label"></label>
                        <input asp-for="Line" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="ZipCode" class="form-label"></label>
                        <input asp-for="ZipCode" class="form-control" />
                    </div>

                    <h5 class="card-title">Ödeme Bilgileri</h5>
                    <div class="mb-3">
                        <label asp-for="CardName" class="form-label"></label>
                        <input asp-for="CardName" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="CardNumber" class="form-label"></label>
                        <input asp-for="CardNumber" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Expiration" class="form-label"></label>
                        <input asp-for="Expiration" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="CVV" class="form-label"></label>
                        <input asp-for="CVV" class="form-control" />
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ödeme Özet</h5>
                    <table class="table table-striped">
                        @foreach (var item in ViewBag.basket.BasketItems as List<BasketItemViewModel>)
                        {
                            <tr>
                                <td>@item.CourseName</td>
                                <td>@item.Price</td>
                            </tr>
                        }
                        <tr>
                            <td>@(ViewBag.basket.HasDiscount?"indirimli toplam fiyat":"toplam fiyat")</td>
                            <td>@ViewBag.basket.TotalPrice TL</td>
                        </tr>

                    </table>
                   <button type="submit" class="btn btn-success">Ödemeyi Tamamla</button>
                </div>

            </div>
        </div>

    </div>

</form>

