@model UserViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kullanıcı Bilgileri</h5>
            </div>
            <table class="table table-striped">
                <tr>
                    <td>Kullanıcı Adı</td>
                    <td>@Model.UserName</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Şehir</td>
                    <td>@Model.City</td>
                </tr>
            </table>
        </div>
    </div>
</div>

